## ginore this file ##
*.pth
*.log
*.pyc
*.swp
*.pfm
*.exr
*.obj
*.png
*.jpg
*.bmp
*.model
*.db
*.so
*.so.*
*.npy
*.o
*.egg
*.tar
*.tar.gz
wandb/
wandb/runs*
tmp
./data
data
./models
detect_results*
./tools/FusionPortal/lib
core
trained/
submit_results/
submit_results
models
trained
tags
runs/
runs
tools/openexr-*

*.tar.gz
pdfresults/
wandb/
wandb/runs*
